@import "../fonts";
.hero{
  background: url('../../assets/img/hero/tyres_hotel.png') no-repeat center top 80px;
  background-size: cover;
  padding-top: 180px;
  padding-bottom: 100px;
  &__title{
    font-size: 30px;
    margin-bottom: 40px;
  }
  &__subtitle{
    display: block;
    margin-bottom: 60px;
    font-size: 30px;
    @include bold;
  }
}

@media (min-width: 991px){
  .hero{
    background-size: cover;
    background-position: top left 20%;
  }
}

